<ul>
    {{#each articles}}
    <div class="article">
        <a href={{link}}>
            <p class="headline">{{headline}}</p>
        </a>
        <p class="lead">{{lead}}</p>
    </div>
    {{/each}}
</ul>