<h3 id="articleId" value={{articleId}}>Notes for article</h3>
<ul>
    {{#each notes}}
    <div class="noteContainer">
        <div class="note">
            <p class="noteId">{{_id}}</p>
        </div>
        <button class="deleteNoteBtn btn btn-danger btn-sm" value={{_id}}>Delete</button>
    </div>
    {{/each}}
</ul>
<div class="addNoteContainer">
    <input id="newNote" type="text" class="form-control" placeholder="Enter new note">
    <button id="addNoteBtn" class="btn btn-primary" value={{articleId}}>Add</button>
</div>